body {
  background: var(--PRIMARY-BACKGROUND-CLR);
}

button,
input,
a,
ul {
  background: inherit;
  border: none;
  color: inherit;
  font-size: inherit;
  list-style: none;
  outline: none;
  text-decoration: none;
}

main {
  min-height: 100vh;
}

img {
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(129, 129, 129, 0.39);
  border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover {
  background: #616161bb;
}
