*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.btn {
  cursor: pointer;
  font-weight: 600;
  padding: var(--BTN-PADDING-Y) var(--BTN-PADDING-X);
}

.btn.--primary-btn {
  background: var(--ACCENT-CLR);
  color: var(--SECONDARY-FONT-CLR);
  border-radius: var(--BORDER-RADIUS);
}

.btn.--secondary-btn {
  padding: calc(var(--BTN-PADDING-Y) - var(--BTN-INPUT-BORDER-WIDTH))
    calc(var(--BTN-PADDING-X) - var(--BTN-INPUT-BORDER-WIDTH));
  background: #0000;
  border: var(--BTN-INPUT-BORDER-WIDTH) solid var(--ACCENT-CLR);
  transition: background var(--TRANSITION-DURATION);
  border-radius: var(--BORDER-RADIUS);
}

.btn.btn.--secondary-btn:hover {
  background: var(--SECONDARY-BTN-HOVER-BACKGROUND-CLR);
}

.--icon-only-btn {
  padding: 0;
}
