.navbar {
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.navlinks-container {
  --HAS-GAP-VALUE: 3rem;
}

.navlink .btn {
  transform: scale(0.8);
}

.navbar svg {
  fill: var(--PRIMARY-FONT-CLR);
  transition: all var(--TRANSITION-DURATION);
}

.github-navlink svg:hover {
  fill: #9cdaf1;
}

.light-mode-svg:hover {
  fill: #9fa41d;
}
